body{
    background-color: rgb(23, 23, 23);
}

#Topmeanu{
    background-color: rgb(52, 52, 52);
    color: white;
    margin: -10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 95px;
    border-radius: 10px;
}
header{
    font-size: 45px;
    padding-left: 5px;
    float: left;
}
.topdiv{
    padding-top: -1px;
    float: right;
    padding-right: 1cm;
}
#Heading{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#bar{
    background-color: rgb(52, 52, 52); 
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
}
#bar:hover{
    background-color: rgb(65, 65, 65);
    text-decoration: underline;
}
#space-man{
    margin: 10px;
    border-radius: 40px;
}
#space-man:hover{
    transition: 400ms;
    width: 300px;
    height: 595px;
    cursor: pointer;
}
